@if (profile){
<div class="profile-card">
  <div class="avatar-name">
    <img
      [src]="profile.avatarUrl | imageUrl"
      alt="avatar"
      class="profile-card__avatar"
    />
    <div class="profile-card__name">
      <strong class="h6"
        >{{ profile.firstName }} {{ profile.lastName }}
      </strong>
      <p class="subtitle">{{ profile.username }}</p>
    </div>
  </div>
  <div class="profile-card__description">
    {{ profile.description }}
  </div>
  <div class="profile-card__tags">
    @for(tag of profile.stack; track tag ){
    <app-skill-tag [tag]="tag"></app-skill-tag>
    }
  </div>
  <div class="contact-info">
    <button class="primary-button">Подписаться</button>
  </div>
</div>
} @else {
<h1>No data</h1>
}
