// @import "./app/common-ui/profile-card/profile-card.component.scss";

:root {
  --dark-color: #000;
  --light-color: #fff;
  --primary-color: #ae7aff;
}
body {
  background: var(--dark-color);
  color: var(--light-color);
  font-family: "JetBrains Mono";
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
p {
  margin: 0;
}

.primary-button {
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  border: none;
}

.h6 {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.subtitle {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}
